[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"

[packages]
django = "*"
djangorestframework = "*"
python-slugify = "*"
django-cors-headers = "*"
gunicorn = "*"
whitenoise = "*"
django-environ = "*"
django-heroku = "*"
celery = "*"
redis = "*"
boto3 = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
